body {
  
  font-family: 'Oswald', sans-serif;
  font-size:20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
	color: white;
  font-size: 64px;
  text-align: center;
}
h2 {
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}
.circle {

  width: 80px;
  line-height: 80px;
  font-family: 'Pacifico', cursive;
  color: white;
	font-size: 20px;
	text-align: center;
  border-radius: 50%;
  border-color: white;
  border: solid;
  
  
}
p{
  color: white;
}

.backimage{
  background-image: url(../Rhian-Ed-Wedding/images/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
	background-size: cover;
  opacity:0.4;

}

.sticky-offset {
  top: 56px;
}

.glyphicon-heart{
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  
}

.navbar-link{
  font-family: 'Pacifico', cursive;
	font-size: 40px;
	text-align: center;
  color: white;
  width: 100px;
  line-height: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
	text-align: center;
  border-radius: 50%;

}


.btn{
  
  font-family: 'Pacifico', cursive;
	font-size: 40px;
	text-align: center;
}

.navbar-text{
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}


#timer {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: .7em;
  letter-spacing: 5px;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding-top: 100%;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}

.days {
  background: rgb(3, 63, 3);
  opacity: 0.5;
}

.hours {
  background: rgb(29, 82, 29);
  opacity: 0.5;
}

.minutes {
  background: rgb(45, 80, 45);
  opacity: 0.5;
}

.seconds {
  background: rgb(81, 97, 81);
  opacity: 0.5;
}

.numbers {
  font-family: 'Oswald', sans-serif;
  color:  white;
  font-size: 4em;
  text-align: center;
  
}






/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.header-image {
	background-image: url(../Rhian-Ed-Wedding/images/IMG_5249.jpeg);
	background-size: cover;
  background-position: 0 -400px; 
  
}

.header {
	padding-top: 30%;
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}

.botpad {
  padding-bottom:15%;
}

