body {
  
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  
}

h1 {
  font-family: 'Oswald', sans-serif;
	color: white;
  font-size: 64px;
  text-align: center;
}
h2 {
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}

.circle {

  width: 60px;
  line-height: 60px;
  font-family: 'Pacifico', cursive;
  color: white;
	font-size: 15px;
	text-align: center;
  border-radius: 50%;
  border-color: white;
  border: solid;
  
  
}
p{
  color: white;
}


html {
  scroll-behavior: smooth;
}


.backimage{
  background-image: url(../Rhian-Ed-Wedding/images/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
	background-size: cover; 
}

.backimage::after {
  opacity:0.4;
}


.glyphicon-heart{
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  
}

.navbar-link{
  font-family: 'Pacifico', cursive;
	font-size: 20px;
	text-align: center;
  color: white;
  width: 100px;
  line-height: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
	text-align: center;

  

}

.navbar{
  background-color:rgb(81, 97, 81);
  width: 100%;
  text-align: center;
  

}


.navbar a:hover{
  color:whitesmoke;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 2%;
}

.navbar-text{
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}

.profilepic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 30%;
  height: auto;
  padding-bottom: 5%;
}

.textbox{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 25px;
  background: whitesmoke;
  padding: 20px;
  width: 75%;
  height: auto;
  color:rgb(81, 97, 81);
  text-align: center;

}

.green{
  color:rgb(81, 97, 81);
  padding: 0;
}

.space{
  padding-right: 5%;
  padding-bottom: 5%;
}

.btn{
  background-color: rgb(81, 97, 81) ;
}

.btn:hover{
  background-color: rgb(45, 80, 45);

}


.rsvpform{
  width:50%;
}
.card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 25px;
  background: whitesmoke;
  padding: 20px;
  color:rgb(81, 97, 81);
  text-align: center;
  size: auto;
}


#timer {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: .7em;
  letter-spacing: 5px;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding-top: 100%;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}

.days {
  background: rgb(3, 63, 3);
  opacity: 0.5;
}

.hours {
  background: rgb(29, 82, 29);
  opacity: 0.5;
}

.minutes {
  background: rgb(45, 80, 45);
  opacity: 0.5;
}

.seconds {
  background: rgb(81, 97, 81);
  opacity: 0.5;
}

.numbers {
  font-family: 'Oswald', sans-serif;
  color:  white;
  font-size: 4em;
  text-align: center;
  
}






/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.header-image {
	background-image: url(../Rhian-Ed-Wedding/images/IMG_5249.jpeg);
	background-size: cover;
  background-position: 0 -300px; 
  
}

.header {
	padding-top: 30%;
  font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
}

.botpad {
  padding-bottom:15%;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  opacity: 1;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}